In [3]:
import pandas as pd
import numpy as np

pd.options.display.max_rows = 5
df = pd.read_csv('D://Python//Lab Data Backup//HR_comma_sep.csv')
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
...,...,...,...,...,...,...,...,...,...,...
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [15]:
original_data = df
original_data

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
...,...,...,...,...,...,...,...,...,...,...
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [5]:

from sklearn import preprocessing
prep = preprocessing.LabelEncoder()

In [17]:
#prep.fit(df['Department'])

0          sales
1          sales
          ...
14997    support
14998    support
Name: Department, Length: 14999, dtype: object

In [12]:
#df['Department']
#dept = list(prep.classes_)
#dept

['IT',
 'RandD',
 'accounting',
 'hr',
 'management',
 'marketing',
 'product_mng',
 'sales',
 'support',
 'technical']

In [28]:
#df.Department = prep.fit_transform(df.Department)
# X=df[['town','area']].values to convert dataframe to 2-dim array

df['Department'] = prep.fit_transform(df['Department'])
df['salary'] = prep.fit_transform(df['salary'])

In [29]:
df[['Department','salary']]

       Department  salary
0               7       1
1               7       2
...           ...     ...
14997           8       1
14998           8       1

[14999 rows x 2 columns]

In [30]:
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,7,1
1,0.80,0.86,5,262,6,0,1,0,7,2
...,...,...,...,...,...,...,...,...,...,...
14997,0.11,0.96,6,280,4,0,1,0,8,1
14998,0.37,0.52,2,158,3,0,1,0,8,1

In [61]:
df['left'].mean()
0.238083

0.238083

In [38]:
X_data = df[['satisfaction_level','last_evaluation','number_project','average_montly_hours','time_spend_company',
                                                     'Work_accident','promotion_last_5years','Department','salary']]

y_data = df['left']
y_data

0        1
1        1
        ..
14997    1
14998    1
Name: left, Length: 14999, dtype: int64

In [70]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()

X_train,X_test,y_train,y_test = train_test_split(X_data,y_data,train_size=0.3)

X_train = sc_x.fit_transform(X_train)
X_test = sc_x.transform(X_test)

X_train

D:\Software\Anaconda\envs\tensorflow\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

array([[-0.54805731, -0.14391958, -0.64027145, ..., -0.15077281,
         0.73500015, -0.53551529],
       [ 1.03497176,  1.30357707,  1.01523501, ..., -0.15077281,
        -0.30052146, -0.53551529],
       [-0.06097144, -0.72291824,  1.01523501, ..., -0.15077281,
        -1.68121695, -0.53551529],
       ...,
       [-1.07573367, -0.49131878, -0.64027145, ..., -0.15077281,
         0.38982628,  1.06640179],
       [ 1.35969567,  0.37717921,  0.18748178, ..., -0.15077281,
         0.38982628, -0.53551529],
       [-1.3192766 ,  0.78247828,  0.18748178, ..., -0.15077281,
         0.04465241, -0.53551529]])

In [64]:
from sklearn.linear_model import LogisticRegression
loger = LogisticRegression()

In [77]:
model_fit = loger.fit(X_train,y_train)

In [78]:
len(y_train)

4499

In [79]:
model_predict = loger.predict(X_test)

In [80]:
loger.score(X_test,y_test)  #0.7714285714285715

0.7656190476190476

In [81]:
loger.predict_proba(X_test)

array([[0.88719292, 0.11280708],
       [0.89301893, 0.10698107],
       [0.98195728, 0.01804272],
       ...,
       [0.62715037, 0.37284963],
       [0.35413244, 0.64586756],
       [0.68052184, 0.31947816]])